<article class="flex-row transform transition duration-600 hover:scale-105 h-full max-w-lg p-5 px-6 bg-green-50 rounded-lg shadow-xl mx-auto">
  <div>
    <a href="/posts/{{id}}">
      <h2 class="font-bold text-xl">{{book_name}}</h2>
    </a>
    <p class="text-red-600">Author: {{book_author}}</p>
    <p>Price: ${{price}}.99</p>
    <p>{{content}}</p>
  </div>
  <div class="w-full flex justify-between pt-10">
    <a href="/posts/{{id}}">
      <p class="bg-green-500 hover:bg-green-800 hover:text-white transition duration-400 transform p-3 px-5 rounded-lg">Comments</p>
    </a>
  </div>
</article>