<article class="flex-row h-full max-w-lg p-5 px-6 bg-white rounded-lg shadow-xl mx-auto">
  <div>
    <a href="/post/{{id}}">
      <h2 class="font-bold text-xl">{{book_name}}</h2>
    </a>
    <p class="text-gray-300">Author: {{book_author}}</p>
    <p>Price: ${{price}}.99</p>
    <p>{{content}}</p>
  </div>
  <div class="w-full flex justify-between pt-10">
    <p class="bg-green-500 p-3 px-5 rounded-lg">Like</p>
    <p class="bg-green-500 p-3 px-5 rounded-lg">Comment</p>
  </div>
</article>