<article class="post h-full max-w-lg p-12 px-6 bg-white rounded-lg shadow-xl mx-auto">
    <div>
      <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    </div >
      <p class="font-bold">{{book_name}}</p>
      <p><span>Author: {{book_author}}</span></p>
      <p>Price: ${{price}}.99</p>
      <p>{{content}}</p>
</article>