<article>
  <h2 class="text-2xl font-bold mx-5 text-green-500">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="post-inputs flex flex-col w-1/2">
      <input class="p-3 my-2" name='book-name' type='text' value="{{post.book_name}}"></textarea>
      <input class="p-3 my-2" name='book-author' type='text' value="{{post.book_author}}"></textarea>
      <input class="p-3 my-2" name='book-price' type='text' value="{{post.price}}"></textarea>
      <textarea class="p-3 my-2" name='content' type='text'>{{post.content}}</textarea>
    </div>
    {{#if post.comments.length}}
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    {{/if}}
    <button type="submit" class="bg-green-400 hover:bg-green-200 rounded-lg p-2">Save post</button>
  </form>
    <button type="button" class="delete-post-btn rounded-lg p-2">Delete post</button>
</article>

<form class="comment-form">
    <textarea name="comment-body"></textarea>
    <button class="bg-blue-400 rounded-lg text-white-100 hover:bg-blue-200 p-2" type="submit">add comment</button>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>